#weather-container {
    width: 100%;
    height: 500px;
    background-image: linear-gradient(110deg, #cde7fd, #0289ff);
    display: grid;
    grid-template-rows: 70px 200px auto;
    grid-template-columns: auto;
}

#row-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 15px;
    padding: 15px;
}

#city-query, #search{
    padding: 12px;
    border: none;
    border-radius: 14px;
}

#city-query {
    flex: 12;
}

#search {
    flex: 3;
    background-color: #320D6D;
    color: white;
}

#search:hover {
    cursor: pointer;
}

