.mobile-nav img {
  width: 48px;
  height: 48px;
}
.mobile-nav li {
  padding: 0;
}
.mobile-nav li a {
  padding: 0;
}

@media screen and (min-width: 601px) {
  .mobile-nav {
    flex-direction: column;
    display: none;
  }
}
#popup {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  justify-content: center;
  align-items: center;
  display: none;
}

.close-popup {
  font-weight: 700;
  position: absolute;
  right: 3%;
  top: 50%;
  font-size: 24pt;
  transform: translate(0, -50%);
  color: black;
}

.close-popup:hover {
  cursor: pointer;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: all 500ms ease;
  box-sizing: border-box;
  color: white;
}

body {
  overflow: auto;
  margin: 0;
  background-color: #151515;
}
body > p {
  padding: 20px;
}

header {
  background-color: #232323;
  overflow: hidden;
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  margin: 0;
  z-index: 1;
}
header img {
  filter: contrast(0) brightness(200%);
  overflow: visible;
  padding: 10px;
  margin-left: 10px;
}
header h3 {
  display: inline;
  float: right;
  font-size: 18pt;
  color: white;
  margin-bottom: 0;
  margin-right: 20px;
}

main {
  padding: 15px;
}

ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-left: 0;
  margin-block-start: 0;
  margin-inline-start: 0;
  padding-inline-start: 0;
  margin-bottom: 0;
}

li {
  display: inline-block;
  background-color: red;
  width: 100%;
  text-align: center;
  flex: 1;
}
li a {
  display: block;
  padding: 15px;
}

li:hover {
  background-color: white;
}
li:hover a {
  color: red;
}

a {
  text-decoration: none;
  font-weight: bolder;
  color: white;
}

.link-sel {
  display: block;
  background-color: #333333;
  text-align: center;
  flex: 1;
}
.link-sel a {
  text-decoration: none;
  font-weight: bolder;
}

section {
  width: 100%;
  padding: 70px;
  padding-top: 30px;
  border-radius: 5px;
  background-color: #232323;
  color: white;
  margin: 25px 0;
}
section > p {
  font-size: 16pt;
}

h4 {
  text-align: center;
  font-weight: 600;
  font-size: 38pt;
}

h5 {
  text-align: center;
  font-size: 20pt;
  margin: 20px 0;
}

.article-info {
  background-color: #333333;
  padding: 25px;
  border-radius: 8px;
  flex: 1 1 460px;
}
.article-info a {
  text-decoration: underline;
}

button, input {
  color: black;
}

footer {
  background-color: red;
  margin: 10px;
  padding: 5px;
  position: relative;
  bottom: 0;
  left: 0;
}
footer p {
  text-align: center;
  color: white;
}

@media screen and (max-width: 600px) {
  .desktop-nav {
    display: none;
  }
  .desktop-nav ul {
    flex-direction: column;
  }
  li {
    width: 100%;
  }
  section {
    padding: 15px;
  }
  section h4 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 900px) {
  header h3 {
    display: none;
  }
  header img {
    width: 100%;
    box-sizing: border-box;
    padding: 2px 10px;
    margin: 0px;
  }
}
@media screen and (max-height: 450px) {
  header > img {
    display: none;
  }
  header h3 {
    display: none;
  }
}
@media screen and (max-height: 600px) and (max-width: 900px) {
  header > img {
    display: none;
  }
  header h3 {
    display: none;
  }
}
/* scrollbar-styling code from W3Schools.com */
::-webkit-scrollbar {
  overflow: hidden;
  height: 7px;
  width: 7px;
  border-radius: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #464646;
  height: 7px;
  width: 7px;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  transition: all 200ms ease;
  height: 7px;
  width: 7px;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}

#weather-container {
  width: 900px;
  height: 500px;
  background-image: linear-gradient(110deg, #cde7fd, #0289ff);
  display: grid;
  grid-template-rows: 70px 180px auto;
  grid-template-columns: auto;
  border-radius: 14px;
}

span {
  color: white;
}

#row-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 15px;
  padding: 15px;
}

#city-query, #search {
  padding: 12px;
  border: none;
  border-radius: 14px;
}

#city-query {
  flex: 12;
}

#search {
  flex: 3;
  background-color: #320D6D;
  color: white;
}

#search:hover {
  cursor: pointer;
}

#search-container {
  width: 100%;
  background-image: linear-gradient(110deg, #cde7fd, #0289ff);
  display: grid;
  grid-template-rows: 70px;
  grid-template-columns: auto;
}

#popup-header {
  position: relative;
  color: white;
  text-align: center;
}

h3 {
  text-align: center;
  color: white;
}

#popup-current-data {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 240px auto;
}
#popup-current-data div p {
  color: white;
}
#popup-current-data div p img {
  filter: invert(100%);
}

#popup-current-data > div {
  padding-left: 50px;
}

.span-data {
  margin-right: 15px;
}

#weather-icon {
  margin: 30px auto;
  filter: invert(100%);
}

#data-temp {
  font-size: 40pt;
}

#data-weather {
  font-size: 24pt;
}

#popup-forecasts {
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  display: flex;
  column-gap: 15px;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0px 15px;
  box-shadow: inset 0.3em 0em 0.9em rgba(0, 0, 0, 0.3333333333);
}

.forecast-item {
  width: 160px;
  height: 180px;
  background-image: linear-gradient(150deg, #9fd1ff, #87c7ff);
  border-radius: 6px;
}

.forecast-item > span {
  color: white;
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 5px;
  font-size: 18pt;
  font-weight: 700;
}

.weather-icon-small {
  width: 100%;
  height: 40px;
  margin: 0px auto;
  margin-top: 10px;
  filter: invert(100%);
}

.p-forecast {
  color: white;
  margin-left: 17px;
  font-weight: 600;
  font-size: 1rem;
}

.p-forecast > .span-data > img {
  filter: invert(100%);
}

/* scrollbar-styling code from W3Schools */
/* width */
::-webkit-scrollbar {
  overflow: hidden;
  height: 7px;
  width: 7px;
  border-radius: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #464646;
  height: 7px;
  width: 7px;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(192, 192, 192);
  height: 7px;
  width: 7px;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(238, 238, 238);
}

@media screen and (max-width: 750px) {
  #popup-forecasts {
    flex-direction: column;
    overflow-y: scroll;
    row-gap: 15px;
  }
  #weather-container {
    height: 100%;
  }
  #weather-icon {
    margin: auto;
    padding: 0;
    height: 100px;
    width: 100px;
  }
  #data-temp {
    font-size: 30pt;
  }
  #data-weather {
    font-size: 17pt;
  }
  #popup-current-data {
    grid-template-columns: 35% auto;
  }
  #popup-current-data > div {
    padding: 0;
    margin: auto;
  }
  .forecast-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .forecast-item * {
    flex: 1;
  }
}

/*# sourceMappingURL=weather.css.map */
