.mobile-nav img {
  width: 48px;
  height: 48px;
}
.mobile-nav li {
  padding: 0;
}
.mobile-nav li a {
  padding: 0;
}

@media screen and (min-width: 601px) {
  .mobile-nav {
    flex-direction: column;
    display: none;
  }
}
#popup {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  justify-content: center;
  align-items: center;
  display: none;
}

.close-popup {
  font-weight: 700;
  position: absolute;
  right: 3%;
  top: 50%;
  font-size: 24pt;
  transform: translate(0, -50%);
  color: black;
}
.close-popup:hover {
  cursor: pointer;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: all 500ms ease;
  box-sizing: border-box;
  color: white;
}

body {
  overflow: auto;
  margin: 0;
  background-color: #151515;
}
body > p {
  padding: 20px;
}

header {
  background-color: #232323;
  overflow: hidden;
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  margin: 0;
  z-index: 1;
}
header img {
  filter: contrast(0) brightness(200%);
  overflow: visible;
  padding: 10px;
  margin-left: 10px;
}
header h3 {
  display: inline;
  float: right;
  font-size: 18pt;
  color: white;
  margin-bottom: 0;
  margin-right: 20px;
}
header ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-left: 0;
  margin-block-start: 0;
  margin-inline-start: 0;
  padding-inline-start: 0;
  margin-bottom: 0;
}
header li {
  display: inline-block;
  background-color: red;
  width: 100%;
  text-align: center;
  flex: 1;
}
header li a {
  display: block;
  padding: 15px;
  color: white;
}
header li:hover {
  background-color: white;
}
header li:hover a {
  color: red;
}

main {
  padding: 15px;
}

a {
  text-decoration: none;
  font-weight: bolder;
  color: white;
}

.link-sel {
  display: block;
  background-color: #333333;
  text-align: center;
  flex: 1;
}
.link-sel a {
  text-decoration: none;
  font-weight: bolder;
}

section {
  width: 100%;
  padding: 70px;
  padding-top: 30px;
  border-radius: 5px;
  background-color: #232323;
  color: white;
  margin: 25px 0;
}
section > p {
  font-size: 16pt;
}
section li {
  margin: 5px 0px;
}

h4 {
  text-align: center;
  font-weight: 600;
  font-size: 38pt;
}

h5 {
  text-align: center;
  font-size: 20pt;
  margin: 20px 0;
}

.article-info {
  background-color: #333333;
  padding: 25px;
  border-radius: 8px;
  flex: 1 1 460px;
}
.article-info a {
  text-decoration: underline;
}

.code {
  padding: 0px 10px;
  background-color: #151515;
  color: #898989;
  border-radius: 4px;
}

button, input {
  color: black;
}

footer {
  background-color: red;
  margin: 10px;
  padding: 5px;
  position: relative;
  bottom: 0;
  left: 0;
}
footer p {
  text-align: center;
  color: white;
}

@media screen and (max-width: 600px) {
  .desktop-nav {
    display: none;
  }
  .desktop-nav ul {
    flex-direction: column;
  }
  li {
    width: 100%;
  }
  section {
    padding: 15px;
  }
  section h4 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 900px) {
  header h3 {
    display: none;
  }
  header img {
    width: 100%;
    box-sizing: border-box;
    padding: 2px 10px;
    margin: 0px;
  }
}
@media screen and (max-height: 450px) {
  header > img {
    display: none;
  }
  header h3 {
    display: none;
  }
}
@media screen and (max-height: 600px) and (max-width: 900px) {
  header > img {
    display: none;
  }
  header h3 {
    display: none;
  }
}
/* scrollbar-styling selectors from W3Schools.com */
::-webkit-scrollbar {
  overflow: hidden;
  height: 7px;
  width: 7px;
  border-radius: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #464646;
  height: 7px;
  width: 7px;
  border-radius: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  transition: all 200ms ease;
  height: 7px;
  width: 7px;
  border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}

#search {
  width: 100%;
  padding: 10px;
  padding-left: 25px;
  font-size: 18pt;
  border-radius: 28px;
  border: none;
  box-shadow: 0 0 7px black;
  z-index: 1;
}

#search:focus {
  box-shadow: 0 0 14px rgba(0, 255, 255, 0.7);
  outline: none;
}
#search:focus + #run {
  box-shadow: 0 0 7px aqua;
  height: 60px;
  width: 60px;
}

#run {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  border: none;
  z-index: 2;
}

#run:hover {
  cursor: pointer;
}

#wiki-container {
  width: 900px;
  height: 600px;
  display: grid;
  grid-template-rows: 70px auto;
  grid-template-columns: auto;
  border-radius: 8px;
  background-color: #232323;
  padding: 10px;
}

table, tbody {
  width: 100%;
  overflow: scroll;
  background-color: #333333;
}

td, th {
  padding: 8px;
}

tr:nth-child(even) {
  backdrop-filter: brightness(110%);
}

#popup-header {
  position: relative;
  text-align: center;
}

.close-popup {
  color: white;
}

#popup-body {
  overflow: auto;
}

#suggestions {
  background-color: #333333;
  padding-left: 10px;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  overflow: visible;
}
#suggestions a {
  display: block;
  margin: 10px;
}

/*# sourceMappingURL=webex2.css.map */
