@use '../style';
@use '../theme';
@use '../dimens';
@use '../structures/cards';

#popup-container {
    width: 90%;
    height: 90%;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto auto;
    background-color: theme.$page-background-hl-2;
    border-radius: 10px;

    #popup-header {
        position: relative;
        padding: 20px;
    
        h3 {
            font-size: 28pt;
        }
    }

    #feed-body {
        padding: 20px;
        overflow: auto;
        height: 100%;
    
        img {
            width: 100%;
            height: auto;
            max-width: 280px;
            float: right;
            margin-left: 5px;
        }

        .feed-entry {
            margin-top: 20px;
            padding: 18px;
            background-color: theme.$page-background-hl-1;
            overflow: auto;

            h6 {
                font-size: 16pt;
                margin: 18px 0px;
            }
        }
    }
}

#feeds-container {
    @include cards.card-container($r-gap: 20px, $c-gap: 20px);
}

.feed-card {
    @extend %card-item;
}

.close-popup {
    top: 12%;
}

@media screen and (max-width: dimens.$break-mobile-width) {

    #popup-container {

        width: 100%;
        height: 100%;
        border-radius: 0;

        #popup-header {

            h3 {
                font-size: 1.8em;
            }
        }
    }
}
