* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 500ms ease;
}

body {
    overflow: auto;
    margin: 0;
}

body > p {
    padding: 20px;
}

header {
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
}

header img {
    background-color: white;
    overflow: visible;
    padding: 10px;
    margin-left: 10px;
}

iframe {
    display: block;
    width: 70%;
    height: 480px;
    margin: auto;
    border: none;
    margin-top: 50px;
    margin-bottom: 50px;
}

header h3 {
    display: inline;
    float: right;
    font-size: 18pt;
    color: red;
    margin-bottom: 0;
    margin-right: 20px;
}

ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-left: 0;
    margin-block-start: 0;
    margin-inline-start: 0;
    padding-inline-start: 0;
    margin-bottom: 0;
}

li {
    display: inline-block;
    background-color: red;
    padding: 15px;
    text-align: center;
    flex: 1;
}

li:hover {
    background-color: white;
}

li:hover a {
    color: red;
}

a {
    text-decoration: none;
    font-weight: bolder;
    color: white;
}

main {
    padding: 15px;
}

section {
    padding: 20px;
    background-color: gainsboro;
    margin: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
}

footer {
    background-color: red;
    margin: 10px;
    padding: 5px;
    position: relative;
    bottom: 0;
    left: 0;
}

footer p {
    text-align: center;
    color: white;
}

.ad-bar {
    padding: 20px;
    width: 15%;
    position: fixed;
    top: 50%;
    left: 10px;
    visibility: hidden;
}

.blink {
    animation: blink-animation 1s steps(2, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
  }
  @keyframes blink-animation {
    to {
      color: red;
      font-weight: bold;
      background-color: blue;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      color: red;
      font-weight: bold;
    }
  }


@media screen and (max-width: 600px) {

    ul {
        flex-direction: column;
    }

    li {
        width: 100%;
    }
    
}

@media screen and (max-width: 900px) {
    header h3 {
        display: none;
    }

    header img {
        width: 100%;
        box-sizing: border-box;
        padding: 2px 10px;
        margin: 0px;
    }

    .embed-video {
        width: 100%;
        padding: 15px;
        margin: 0;
        box-sizing: border-box;
    }
}

@media screen and (min-width: 900px) {
    .ad-bar {
        visibility: visible;
    }
}

.link-sel {
    display: inline-block;
    background-color: white;
    padding: 15px;
    text-align: center;
    flex: 1;
}

.link-sel:hover {
    background-color: red;
}

.link-sel:hover a {
    color: white;
}

.link-sel > a {
    text-decoration: none;
    font-weight: bolder;
    color: red;
}
