<!-- ...........................................................................
 This file contains data you can use (copy/paste) building your own page
 However there migth still be typos or coding error. Feel free to change !!!
.............................................................................-->
<!-- The first thing to start with is a  Header which is typicially a fixed area
at the top containing a logo and text.
++++  The header are tagged with <header></header>
The next two lines are just working examples of a header inner data -->
   <img src="/images/logodhbw.svg" alt="W3Schools.com" width="300">
   <h1>DHBW Stuttgart Web Engineering Portal</h1>
<!-- Below the header you typically have a navigation bar
(a horizontal or vertical bar) with navigation links to areas in the document
you want to jump clicking the link
+++ navigation can be tagged by <nav></nav> and typically include a list
as shown in the next 5 line  -->
  <ul>
    <li><a href="#Informatik">Informatik</a></li>
    <li><a href="#Elektrotechnik">Elektrotechnik</a></li>
    <li><a href="#Maschinenbau">Maschinenbau</a></li>
  </ul>
<!-- after the navigation bar we have a potentially scrollabe area of text (our content).
We organize that content with all different HTML tags such as h1.. h6, p, div, span,
but also sections or articles
+++ In this example we build 4 sections, <section></section> describing the DBHW
+++ Section 1 a youtube
 -->
<iframe width="420" height="300"
 src="https://youtube.com/embed/2dy9fLZEg9A">
</iframe> -->
  Die DHBW Stuttgart steht für eine einzigartige Verbindung von Theorie und Praxis:
  Zusammen mit rund 2.000 Unternehmen und sozialen Einrichtungen (den Dualen Partnern)
  werden über 40 anerkannte Bachelor-Studienrichtungen in den Fakultäten Wirtschaft,
  Technik und Sozialwesen angeboten
<!-- </section>
<section 2 ... id="Informatik"> -->
  <h1>Informatik</h1>
  <p>Informatiker übertragen Vorgänge der realen Welt auf Computersysteme,
     indem sie die Aufgabenstellung in geeignete Modelle überführen und diese dann
     auf Softwaresystemen abbilden. Die Vielfalt an Anwendungsmöglichkeiten ist dabei
     nahezu unbegrenzt und steigt stetig mit der zunehmenden Leistungsfähigkeit der Systeme.</p>
<!--</section>
<section 3  id="Elektrotechnik"> -->
   Elektrotechnik
   Die Elektrotechnik bewegt und verändert die Welt:
     Smartphones, Assistenzsysteme, Smart Home oder Medizintechnik sind aus
     unserem Leben nicht mehr wegzudenken, die Energiewende ist in aller Munde.
     Ingenieurinnen und Ingenieure der Elektrotechnik gestalten und entwickeln
     die Systeme und haben so einen direkten Einfluss auf unser alltägliches Leben.
     Sie befassen sich nicht nur mit elektrischen und elektronischen Systemen, sondern arbeiten
     in einem sehr vielfältigen Arbeitsfeld, das von der Entwicklung eines Produkts
     über das Projektmanagement bis hin zu Marketing und Vertrieb reicht.
<!-- </section>
<section 4 id="Maschinenbau"> -->
   Maschinenbau
   Der Maschinenbau mit seinen zahlreichen Ausprägungen verknüpft Theorie
     und Praxis, Naturwissenschaft und Technik. Die umfassende Ausbildung an
     der Dualen Hochschule Stuttgart ermöglicht es Absolventinnen und Absolventen
     des Studiengangs, Aufgaben in vielen Tätigkeitsfeldern zu übernehmen:
<!-- </section>  -->
<!-- at the botton of our portal we have a fixed footer
<footer> --> Copyright &copy; DHBW Stuttgart <!--/footer> -->
