<!--
we are using a HTML table to show the following layout
! .... col 1  .... ! ... col 2    ... ! ... col 3 ..... ! for each Fakultät
! Name der Fakultät! ein Image .....  ! ...  Beschreibung !
<link rel="stylesheet" type="text/css" href="/stylesheets/myfirstCSS.css">
<table>
<tbody>
  <tr id="Name wie im Nav Link oben">
  <td> ...  </td>
  <td> .. </td>
  <td> .. </td>

  das Bild als img src für die Informatik ist hier
  /images/Erdbeer-Q.jpeg

  der Text ist hier ..
     Informatiker übertragen Vorgänge der realen Welt auf Computersysteme,
     indem sie die Aufgabenstellung in geeignete Modelle überführen und diese dann
     auf Softwaresystemen abbilden. Die Vielfalt an Anwendungsmöglichkeiten ist dabei
     nahezu unbegrenzt und steigt stetig mit der zunehmenden Leistungsfähigkeit der Systeme.



   das Bild für Elektrotechnik ist hier
   /images/Mandarinen-Q.jpeg

   der Text ist hier
     Die Elektrotechnik bewegt und verändert die Welt:
     Smartphones, Assistenzsysteme, Smart Home oder Medizintechnik sind aus
     unserem Leben nicht mehr wegzudenken, die Energiewende ist in aller Munde.
     Ingenieurinnen und Ingenieure der Elektrotechnik gestalten und entwickeln
     die Systeme und haben so einen direkten Einfluss auf unser alltägliches Leben.
     Sie befassen sich nicht nur mit elektrischen und elektronischen Systemen, sondern arbeiten
     in einem sehr vielfältigen Arbeitsfeld, das von der Entwicklung eines Produkts
     über das Projektmanagement bis hin zu Marketing und Vertrieb reicht.


    das Bild für Maschinenbau ist
    /images/Pizza-Q.jpeg

    der Text ist ist hier
    Der Maschinenbau mit seinen zahlreichen Ausprägungen verknüpft Theorie
     und Praxis, Naturwissenschaft und Technik. Die umfassende Ausbildung an
     der Dualen Hochschule Stuttgart ermöglicht es Absolventinnen und Absolventen
     des Studiengangs, Aufgaben in vielen Tätigkeitsfeldern zu übernehmen:
