$font-primary: white;
// page color palette
$page-background: #151515;
$page-background-hl-1: #232323;
$page-background-hl-2: #333333;
$page-background-contrast: white;
// element styling
$page-button-gray: #999999;
// page accent color and color for contrast (e.g. for backgrounds)
$page-accent: red;
$page-accent-contrast: white;