@use 'theme';
@use 'dimens';

@use './structures/scrollbar';
@use './structures/mobile-nav';
@use './structures/popup';

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 500ms ease;
    box-sizing: border-box;
    color: theme.$font-primary;
}

body {
    overflow: auto;
    margin: 0;
    background-color: theme.$page-background;

    & > p {
        padding: 20px;
    }
}

header {
    background-color: theme.$page-background-hl-1;
    overflow: hidden;
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    z-index: 1;

    img {
        filter: contrast(0.0) brightness(200%);
        overflow: visible;
        padding: 10px;
        margin-left: 10px;
    }

    h3 {
        display: inline;
        float: right;
        font-size: 18pt;
        color: theme.$page-background-contrast;
        margin-bottom: 0;
        margin-right: 20px;
    }

    ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-left: 0;
        margin-block-start: 0;
        margin-inline-start: 0;
        padding-inline-start: 0;
        margin-bottom: 0;
    }
    
    li {
        display: inline-block;
        background-color: theme.$page-accent;
        width: 100%;
        text-align: center;
        flex: 1;
    
        a {
            display: block;
            padding: 15px;
            color: theme.$page-accent-contrast;
        }

        &:hover {
            background-color: theme.$page-accent-contrast;
        
            a {
                color: theme.$page-accent;
            }
        }
    }
}

main {
    padding: dimens.$pad-main;
}

a {
    text-decoration: none;
    font-weight: bolder;
    color: theme.$font-primary;
}

section {
    width: 100%;
    padding: dimens.$pad-desktop-section;
    padding-top: 30px;
    border-radius: 5px;
    background-color: theme.$page-background-hl-1;
    color: theme.$font-primary;
    margin: 25px 0;

    & > p{
        font-size: 16pt;
    }

    li {
        margin: 5px 0px;
    }
}

h4 {
    text-align: center;
    font-weight: 600;
    font-size: 38pt;
}

h5 {
    text-align: center;
    font-size: 20pt;
    margin: 20px 0;
}

button, input {
    color: black;
}

button:hover {
    cursor: pointer;
}

footer {
    background-color: theme.$page-accent;
    margin: 10px;
    padding: 5px;
    position: relative;
    bottom: 0;
    left: 0;

    p {
        text-align: center;
        color: theme.$page-accent-contrast;
    }
}

//================
//class styling
.link-sel {
    display: block;
    background-color: theme.$page-background-hl-2;
    text-align: center;
    flex: 1;
    
    a {
        text-decoration: none;
        font-weight: bolder;
    }
}

.article-info {
    background-color: theme.$page-background-hl-2;
    padding: 25px;
    border-radius: 8px;
    flex: 1 1 460px;

    a {
        text-decoration: underline;
    }
}

//spans in text that represent code fragments or file names
.code {
    padding: dimens.$comp-code-pad;
    background-color: theme.$comp-code-background;
    color: theme.$comp-code-foreground;
    border-radius: 4px;
}

//**************
//responsive behaviour

//Responsive behaviour for small devices
//hide desktop navigation bar for narrow devices with less than 600px screen width
@media screen and (max-width: dimens.$break-mobile-width) {

    .desktop-nav {
        display: none;

        ul {
            //wrap in column if for some reason mobile nav doesn't work
            flex-direction: column;
        }
    }

    li {
        width: 100%;
    }
    
    section {
        padding: dimens.$pad-mobile-section;

        h4 {
            font-size: 2.0rem;
        }
    }
}

//hide page heading for narrow devices with less than 900px screen width
@media screen and (max-width: dimens.$break-medium-width) {

    header {
        h3 {
            display: none;
        }

        img {
            width: 100%;
            box-sizing: border-box;
            padding: 2px 10px;
            margin: 0px;
            max-height: 100px;
        }
    }
}

//hide dhbw logo for devices shorter 450px, leaving only nav bar in header
@media screen and (max-height: dimens.$break-mobile-height) {
    header {
        & > img {
            display: none;
        }        

        h3 {
            display: none;
        }
    }
}

//hide dhbw logo for devices that are short, but still wide
@media screen and (max-height: dimens.$break-medium-height) and (max-width: dimens.$break-medium-width) {
    header {
        & > img {
            display: none;
        }

        h3 {
            display: none;
        }
    }
}