@use 'sass:math';
@use '../dimens';

.mobile-nav {

    img {
        width: 48px;
        height: 48px;
    }

    li {
        padding: 0;

        a {
            padding: 0;
        }
    }

}

@media screen and (min-width: dimens.$break-mobile-width + 1) {

    .mobile-nav {
        flex-direction: column;
        display: none;
    }
    
}